/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	background: #ff9c30;
	position: relative;
	overflow: hidden;
	min-width: 145px;
	padding: 11px 8px;
	font-size: 14px;
	border-radius: 11px;
	transition: opacity $t-duration;
	color: $c-white;

	&:before {
		content: '';
		position: absolute;
		top: -20px;
		left: 50%;
		transform: translateX(-50%);
		width: 120%;
		height: 110%;
		background: $c-orange;
		border-radius: 50%;
		z-index: 0;
		pointer-events: none;
	}

	&:hover {
		opacity: 0.7;
	}

	@include breakpoint-down(mobile) {
		font-size: 14px;
		min-width: 160px;
		padding: 10px 5px;
	}

	span {
		position: relative;
	}
}

/*  Btn small  */

.btn--small {
	min-width: 122px;
	padding: 11px 8px;

	@include breakpoint-down(mobile) {
		min-width: 130px;
		padding: 10px 8px;
	}

	&:before {
		top: -16px;
	}
}

/*  Btn smaller  */

.btn--smaller {
	min-width: 78px;
	padding: 11px 8px;

	@include breakpoint-down(mobile) {
		padding: 10px 8px;
	}

	&:before {
		top: -16px;
	}
}

/*  Btn smallest  */

.btn--smallest {
	min-width: 73px;
	padding: 11px 8px;
	font-size: 13px;

	@include breakpoint-down(mobile) {
		padding: 10px 8px;
	}

	&:before {
		top: -16px;
	}
}

/*  Btn smallest 1  */

.btn--smallest-1 {
	min-width: 60px;
    padding: 9px 8px;
    font-size: 10px;

    @include breakpoint-down(mobile) {
		padding: 10px 8px;
	}

	&:before {
		top: -16px;
	}
}


/*  Btn blue  */

.btn--blue {
	background: #797fd7;

	&:before {
		background: #5960cd;
	}
}

/*  Btn darkblue  */

.btn--darkblue {
	background: #474a9f;

	&:before {
		background: $c-blue1;
	}
}

/*  Btn block  */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}

/* ------------------------------------------------------------ *\
	Btn red
\* ------------------------------------------------------------ */

.btn-red {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	position: relative;
	overflow: hidden;
	min-width: 62px;
	padding: 5px 5px;
	font-size: 13px;
	font-weight: 700;
	border-radius: 9px;
	transition: opacity $t-duration;
	color: $c-white;
	background: #ED1C24;
	font-style: italic;

	&:hover {
		opacity: .7;
	}
}

.btn-red--alt {
	font-size: 13px;
	min-width: 135px;
	padding: 15px 5px;
	border-radius: 22px;
	border: 2px solid  #E6E7E8;
}
