/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
	display: flex;
	flex-flow: row wrap;

	.grid__col {
		max-width: 100%;
		flex: 1;
	}

	/*  Grid col 1of2  */
	.grid__col--1of2 {
		max-width: 50%;
		flex: 0 0 50%;
	}

	.grid__col--size1 {
		max-width: 26.1%;
		flex: 0 0 26.1%;

		@include breakpoint-down(tablet) {
      max-width: 20%;
      flex: 0 0 20%;
    }
	}

	.grid__col--size2 {
		max-width: 22.6%;
		flex: 0 0 22.6%;

		@include breakpoint-down(tablet) {
      max-width: 20%;
      flex: 0 0 20%;
    }
	}

	.grid__col--size3 {
		max-width: 26.5%;
		flex: 0 0 26.5%;

		@include breakpoint-down(tablet) {
      max-width: 30%;
      flex: 0 0 30%;
    }
	}

	.grid__col--size4 {
		max-width: 16.6%;
		flex: 0 0 16.6%;

		@include breakpoint-down(tablet) {
      max-width: 15%;
      flex: 0 0 15%;
    }
	}

  .grid__col--size5 {
    max-width: 46.3%;
    flex: 0 0 46.3%;

    @include breakpoint-down(tablet) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  .grid__col--size6 {
    max-width: 53.7%;
    flex: 0 0 53.7%;

    @include breakpoint-down(tablet) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  .grid__col--size7 {
  	max-width: 19.5%;
  	flex: 0 0 19.5%;

    @include breakpoint-down(tablet) {
      max-width: 22.5%;
      flex: 0 0 22.5%;
    }
  }

  .grid__col--size8 {
  	max-width: 23%;
  	flex: 0 0 23%;
  }

  .grid__col--size9 {
  	max-width: 26.5%;
  	flex: 0 0 26.5%;

    @include breakpoint-down(tablet) {
      max-width: 30.5%;
      flex: 0 0 30.5%;
    }
  }

  .grid__col--size10 {
  	max-width: 10%;
  	flex: 0 0 10%;

    @include breakpoint-down(tablet) {
      max-width: 7%;
      flex: 0 0 7%;
    }
  }

  .grid__col--size11 {
  	max-width: 40%;
  	flex: 0 0 40%;
  }

  .grid__col--size12 {
  	max-width: 24%;
  	flex: 0 0 24%;
  }

  .grid__col--size13 {
    max-width: 34.6%;
    flex: 0 0 34.6%;

    @include breakpoint-down(mobile) {
      max-width: 53%;
      flex: 0 0 53%;
    }
  }

  .grid__col--size14 {
    max-width: 8.3%;
    flex: 0 0 8.3%;

    @include breakpoint-down(mobile) {
      max-width: 12%;
      flex: 0 0 12%;
    }
  }

  .grid__col--size15 {
    max-width: 10.2%;
    flex: 0 0 10.2%;
  }

  .grid__col--size16 {
    max-width: 18.2%;
    flex: 0 0 18.2%;
  }

  .grid__col--size17 {
    max-width: 29%;
    flex: 0 0 29%;

    @include breakpoint-down(small-desktop) {
      max-width: 20%;
      flex: 0 0 20%;
    }
  }

  .grid__col--size18 {
    max-width: 10.8%;
    flex: 0 0 10.8%;

    @include breakpoint-down(tablet) {
      max-width: 7%;
      flex: 0 0 7%;
    }
  }

  .grid__col--size19 {
    @include breakpoint-down(tablet) {
      max-width: 10%;
      flex: 0 0 10%;
    }
  }
}
